<h1>Car Sales in India </h1>

(input text)

In [2]:
import pandas as pd

# Load the Excel file
file_path = 'Car Sales India 2024.xlsx'
df = pd.read_excel(file_path)

# Display the dataframe
display(df)

,Make,Model,January,February,March,April,May,June,July,August,September,October,November,December,Total,Segment,Body Type,MoM %,YoY %
0,Citroen,Basalt,0,0,0,0,0,0.0,0,579,341,221,47,79,1267,C2,SUV,68,0
1,Citroen,C3,234,211,265,251,155,77.0,90,507,300,300,200,300,2890,C1,Hatchback,50,-3
2,Citroen,Aircross,231,127,211,93,125,136.0,68,38,41,103,201,96,1470,C2,SUV,-52,-72
3,Citroen,C5 Aircross,1,0,0,1,0,0.0,0,1,1,4,0,1,9,D2,SUV,0,-50
4,Citroen,e-C3,184,83,530,59,235,126.0,177,150,28,89,61,90,1812,C1,SUV,48,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Toyota,Taisor,0,0,0,0,2180,3185.0,2640,3213,2278,3092,3620,2628,22836,C1,Hatchback,-27,0
83,Toyota,Vellfire,61,57,38,5,62,142.0,113,114,87,115,86,63,943,Premium,MUV,-27,70
84,Volkswagen,Taigun,1275,1286,1588,1758,1561,1519.0,1564,1628,1611,2028,1497,2335,19650,C2,SUV,56,-5
85,Volkswagen,Tiguan,113,102,94,108,102,85.0,77,73,86,79,79,195,1193,D2,SUV,147,-29
86,Volkswagen,Virtus,1879,1631,1847,1183,1610,1656.0,1766,1876,1697,2351,1457,2257,21210,C2,Sedan,55,3